<!-- <table>
  <tr>
    <th>User ID</th>
    <th>ID</th>
    <th>Title</th>
    <th>Completed</th>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.userId}}</td>
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.completed}}</td>
  </tr>
</table> -->

<table>
  <tr>
    <th> ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Course</th>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
    <td>{{item.course}}</td>
  </tr>
</table>